<h1>login</h1>
<form action="/login" mothod="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
</form>
<a href="/register">Register</a>